.card {
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .encabezado {
            margin-left: 2em;
        }
    }
    .card-block {
        .imagenGrid {
            max-height: 36px;
            max-width: 103px;
            cursor: pointer;
        }
    }
}
