<clr-tabs>
    <clr-tab>
        <button clrTabLink>
            {{ui.template.section.estadisticas.tabs.generales[idioma]}}
        </button>
        <clr-tab-content *clrIfActive="true">
            <est-generales [cuenta]="cuenta"
                           [ui]="ui"
                           [idioma]="idioma">
            </est-generales>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>
            {{ui.template.section.estadisticas.tabs.posts[idioma]}}
        </button>
        <clr-tab-content *clrIfActive>
            <est-publicaciones [cuenta]="cuenta"
                               [ui]="ui"
                               [idioma]="idioma">
            </est-publicaciones>
        </clr-tab-content>
    </clr-tab>
    <!--clr-tab>
        <button clrTabLink>
            {{ui.template.section.estadisticas.tabs.hashtags[idioma]}}
        </button>
        <clr-tab-content *clrIfActive>
            Hashtags
        </clr-tab-content>
    </clr-tab-->
</clr-tabs>
