<section class="nav-group collapsible" *ngIf="cuenta">
    <input id="{{cuenta.name}}" type="checkbox">
    <label for="{{cuenta.name}}">
        <img [src]="cuenta.profile_picture_url" class="perfil">
        {{cuenta.name}}
    </label>
    <ul class="nav-list">
        <li><a class="nav-link" [ngClass]="{'active':activo&&numSeccion==0}" (click)="abreSection(0)">Perfil</a></li>
        <li><a class="nav-link" [ngClass]="{'active':activo&&numSeccion==1}" (click)="abreSection(1)">Estadisticas</a></li>
        <li><a class="nav-link" [ngClass]="{'active':activo&&numSeccion==2}" (click)="abreSection(2)">Operaciones</a></li>
    </ul>
</section>
