.panel-capturas {
    .card {
        .card-header {
            .clr-row {
                position: relative;
                .btn {
                    &.actualizar {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }

            }
        }
    }
}
