/* You can add global styles to this file, and also import other style files */
.content-container {
    .content-area {
        .perfil {
            .clr-control-container {
                width: 100%;
                input {
                    width: 100%;
                }
            }
        }
        .calendario {
            .encabezado {
                .mes, .anno {
                    .clr-form-control {
                        margin-top: inherit;
                        display: inline;
                        flex-direction: inherit;
                        align-items: inherit;
                    }
                }
            }
        }
    }
}
